In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
test=pd.read_json('C:/Users/Khushi Patidar/Desktop/cooking/test.json')

In [3]:
test.head()

      id                                        ingredients
0  18009  [baking powder, eggs, all-purpose flour, raisi...
1  28583  [sugar, egg yolks, corn starch, cream of tarta...
2  41580  [sausage links, fennel bulb, fronds, olive oil...
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

In [4]:
train=pd.read_json('C:/Users/Khushi Patidar/Desktop/cooking/train.json')

In [5]:
train.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [6]:
train.shape

(39774, 3)

In [7]:
test.shape

(9944, 2)

In [8]:
# x=pd.DataFrame(train[train['cuisine']=='italian'],columns=['ingredients'])

In [9]:
train['ingredients'] = train['ingredients'].agg(lambda train: ','.join(map(str, train)))

In [10]:
# train.ingredients.str.split().tolist()

In [11]:
# train.ingredients.str.split()

In [12]:
train.head()

      id      cuisine                                        ingredients
0  10259        greek  romaine lettuce,black olives,grape tomatoes,ga...
1  25693  southern_us  plain flour,ground pepper,salt,tomatoes,ground...
2  20130     filipino  eggs,pepper,salt,mayonaise,cooking oil,green c...
3  22213       indian                     water,vegetable oil,wheat,salt
4  13162       indian  black pepper,shallots,cornflour,cayenne pepper...

# The ingredients column is separated by , (”, “) and the expand parameter is set to True, which means it will return a data frame with all separated strings in different columns.

# n: Numbers of max separations to make in a single string, default is -1 which means all.

# expand: Boolean value, returns a data frame with different value in different columns if True. Else it returns a series with list of strings.

In [13]:
x= train["ingredients"].str.split(",", n = -1, expand = True)

In [14]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,romaine lettuce,black olives,grape tomatoes,garlic,pepper,purple onion,seasoning,garbanzo beans,feta cheese crumbles,None,...,None,None,None,None,None,None,None,None,None,None
1,plain flour,ground pepper,salt,tomatoes,ground black pepper,thyme,eggs,green tomatoes,yellow corn meal,milk,...,None,None,None,None,None,None,None,None,None,None
2,eggs,pepper,salt,mayonaise,cooking oil,green chilies,grilled chicken breasts,garlic powder,yellow onion,soy sauce,...,None,None,None,None,None,None,None,None,None,None
3,water,vegetable oil,wheat,salt,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,black pepper,shallots,cornflour,cayenne pepper,onions,garlic paste,milk,butter,salt,lemon juice,...,None,None,None,None,None,None,None,None,None,None

In [15]:
x.isnull().sum().sort_values(ascending=False)

64    39773
62    39773
61    39773
60    39773
59    39773
      ...
4      1875
3       762
2       215
1        22
0         0
Length: 65, dtype: int64

In [16]:
train=pd.concat([train,x],axis=1)

In [17]:
train.head()

,id,cuisine,ingredients,0,1,2,3,4,5,6,...,55,56,57,58,59,60,61,62,63,64
0,10259,greek,"romaine lettuce,black olives,grape tomatoes,ga...",romaine lettuce,black olives,grape tomatoes,garlic,pepper,purple onion,seasoning,...,None,None,None,None,None,None,None,None,None,None
1,25693,southern_us,"plain flour,ground pepper,salt,tomatoes,ground...",plain flour,ground pepper,salt,tomatoes,ground black pepper,thyme,eggs,...,None,None,None,None,None,None,None,None,None,None
2,20130,filipino,"eggs,pepper,salt,mayonaise,cooking oil,green c...",eggs,pepper,salt,mayonaise,cooking oil,green chilies,grilled chicken breasts,...,None,None,None,None,None,None,None,None,None,None
3,22213,indian,"water,vegetable oil,wheat,salt",water,vegetable oil,wheat,salt,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,13162,indian,"black pepper,shallots,cornflour,cayenne pepper...",black pepper,shallots,cornflour,cayenne pepper,onions,garlic paste,milk,...,None,None,None,None,None,None,None,None,None,None

In [18]:
train.drop(['ingredients','id'],inplace=True,axis=1)

In [19]:
train['cuisine'].value_counts().sort_values(ascending=False)

italian         7838
mexican         6438
southern_us     4320
indian          3003
chinese         2673
french          2646
cajun_creole    1546
thai            1539
japanese        1423
greek           1175
spanish          989
korean           830
vietnamese       825
moroccan         821
british          804
filipino         755
irish            667
jamaican         526
russian          489
brazilian        467
Name: cuisine, dtype: int64